.contact-form {
    border-width: 1px;
    border-color: $rg-main-color;
    border-style: solid;

    ::placeholder {
        color: $text-color;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: $text-color;
    }

    ::-ms-input-placeholder {
        color: $text-color;
    }

    .contact-form-input {
        background-color: $background-color;
        color: $text-color;
        border: 1px solid $rg-main-color;

        &:focus {
            background-color: $background-color;
            color: $text-color;
        }
    }
}
