.rg-nav {
    color: $text-color !important;
    background-color: $background-color;

    border-bottom-width: 1px;
    border-bottom-color: $rg-main-color;
    border-bottom-style: solid;

    font-size: 1.2rem;
}

.hb-menu {
    font-size: 2.5rem;
}
